body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 120vh;
    width: 100vw;
    font-family: sans-serif;
    background-color: #E8ECF8;
    overflow-x: hidden;
}

nav {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

nav ul {
    list-style-type: none;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul li a {
    text-decoration: none;
    color: #505960;
    font-size: 1.3rem;
    transition: all .3s;

}

ul li a:hover {
    color: #4A77F9;
}

ul li a:focus {
    color: #4A77F9;
    text-shadow: .5px .5px .5px #4A77F9;
    font-size: 1.4rem;
}

.box1 {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
}

.box1 a {
    text-decoration: none;
    color: #505960;
    transition: all .3s;
}

.box1 a:hover {
    color: #4A77F9;
}

.box1 a:focus {
    color: #4A77F9;
    text-shadow: .5px .5px .5px #4A77F9;
    font-size: 1.4rem;

}

.box1 button {
    background-color: white;
    border: none;
    border-radius: 50px;
    color: black;
    padding: 14px 45px;
    font-size: 1rem;
    font-weight: 550;
    box-shadow: .5px .5px .5px gray;
    cursor: pointer;
    transition: all .3s;
}

.box1 button:hover {
    box-shadow: 1.5px 1.5px 1.5px .5px #4A77F9;
    background-color: #4A77F9;
    color: white;
}

section{
margin: 0 auto;
width: 100vw;
height: 120vh;


    display: flex;
    justify-content:space-around;
    align-items:center;

}

.left_content p{
    font-size: 1.2rem;
    color: #505960;
}
.left_content h1{
    color: #4A77F9;
    letter-spacing: 1.2px;
    font-style: italic;
    font-size: 1.8rem;
}


.left_content{
    margin-top: 150px;
    display: flex;
    flex-direction:column;
    align-items: center;

}
.group_store{

    width: 450px;
  position: relative;
  bottom: 20px;
    display: flex;
    justify-content: space-evenly;

}

.group_store a{
    text-decoration: none;
}

.AppStore{
    width: 200px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgb(167, 166, 166);
    border-radius: 5px;
    
}


.PlayStore{
    width: 200px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgb(167, 166, 166);
    border-radius: 5px;
   
}

.right_content{
    
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.child1{

    width: 170px;
    height: 100px;
    margin-top: 50px;
   
}
.child1 input{
    border: none;
    width: 350px;
    padding: 18px;
    font-size: 1.2rem;
    color: #505960;
    border-radius:3px;
    background-color: #dbe1f5;
    box-shadow: .5px .5px .5px rgba(128, 128, 128, 0.503);
}



.child2{

    width: 580px;
    height: 40px;
    font-size: 1.2rem;
position: relative;
top: 50px;
    display: flex;
    justify-content:flex-end;
    
    align-items: center;

    
}
.child2 a{
    color:#505960 ;
    text-decoration:none;
    letter-spacing: .5px;
    transition: all .2s;
}
.child2 a:hover{
    color: #4A77F9;
    font-size: 1.3rem;
    letter-spacing: .8px;
    font-weight:600;
    text-shadow: .3px .3px .3px #4A77F9;
}


#btn{

    padding: 20px;
    width:360px;
    background-color: #4A77F9;
    color: white;
    font-size:1rem;
    position: relative;
    left:105px;
    top: 70px;
    border: none;
    border-radius:5px;
    cursor: pointer;
    box-shadow:3px 3px 3px #4A77F9;
    transition: all .3s;
}

#btn:hover{
width: 365px;
padding: 22px;
background-color: #505960;
box-shadow:3px 3px 3px #505960;
}

.con{

position: relative;
top: 80px;
left:100px;
width: 330px;
display: flex;
justify-content: center;
color: #505960;
}

.group_con{
    
    width: 480px;
    height:200px;
    position: relative;
    top: 30px;
    left: 100px;
    display: flex;
    justify-content: space-around;
}

.box2{
    background-color: #DCE2F0;
    width: 140px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all .3s;
}

.box2:hover{
    background-color: #E8ECF8;
    box-shadow:8px 8px 8px rgb(185, 190, 201);
    transform: scale(1.07);
}

